@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
}

.back{
  background-image: url(./assets/images/Services\ -\ background\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.back1{
  background-image: url(./assets/images/Clientbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.back2{
  background-image: url(./assets/images/RecentWork.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 370px;
}



.bac{
  background: rgba(36, 36, 36, 0.71);

backdrop-filter: blur(6px);
}

input{
  display: flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
background: #F3F4F8;
 
}

textarea{
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background: #F3F4F8;
}

.tran{
  background: rgba(255, 255, 255, 0.51);
box-shadow: 0px 6px 37.5px 0px rgba(0, 0, 0, 0.04);
backdrop-filter: blur(41.54999923706055px);
}


.btn{
  position: relative;
}

.btn::after{
  content: '';
  position: absolute;
  background-color: #14A2F1;
  width: 0;
  height: 3px;
  top: 25px;
  left: 0;
  right: 0;
  transition: 0.3s;
  border-radius: 20px;
}

.btn:hover::after{
  width: 100%;
}
